<!-- Login form -->
<h3><span class="fa fa-sign-in"></span> Login</h3>
<form id="login-form" method="post">
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" name="email">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  <button type="submit" class="btn btn-warning btn-lg">Login</button>
</form>
<hr>
<p>Need an account? <a id="show-register-btn" href="javascript:void(0)">Signup</a></p>