<!-- public/admin/views/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>El Chango</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <a class="navbar-brand" href="/">El Chango Admin</a>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/">Dashboard</a>
          </li>
          <li>
            <a href="/about">Products</a>
          </li>
          <li>
            <a href="/about">Orders</a>
          </li>
          <li>
            <a href="/about">Users</a>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
</body>
</html>