<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/header.html %>
</head>
<body class="container">
  <header>
    <% include partials/nav.html %>
  </header>
  <main>
    <div class="jumbotron">
      <h1>Dashboard</h1>
      <p>Welcome to templating using EJS</p>
    </div>
  </main>
  <footer>
    <% include partials/footer.html %>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="/dist/js/admin/main.js"></script>
</body>
</html>