<% include partials/header.html %>

<body class="container">
  <header>
    <% include partials/nav.html %>
  </header>
  <main>    
    <h3>Products</h3>
    
    <div id="content" class="col-md-12">
    <% if(data) { %>      
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Unit</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Enabled</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% data.forEach(function(item) { %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.category %></td>
          <td><%= item.unit %></td>
          <td><%= item.description %></td>
          <td><%= item.stock %></td>
          <td><%= item.isEnabled %></td>          
          <td>
            <span><a class="images-products-btn" href="javascript:void" data-item-id="<%= item._id %>">manage images</a></span> |
            <span><a class="update-products-btn" href="javascript:void" data-item-id="<%= item._id %>">edit</a></span> |
            <span><a class="delete-products-btn" href="javascript:void" data-item-id="<%= item._id %>">remove</a></span>            
          </td>
        </tr> 
        <% }); %>     
        </tbody>  
      </table>

    <% } else { %>    
      <p> No items available </p>
    <% } %>    
    </div>

    <div class="col-xs-3">
      <button type="button" id="add-products-btn" class="btn btn-warning btn-lg">Add new product</button>
    </div>  

    <div id="products-box" class="col-xs-9 hidden">
      <% include partials/products_form.html %>
    </div>  
  </main>
  <div style="clear:both;"></div>
  <% include partials/footer.html %>
</body>
</html>