<form id="images-form" method="post" enctype="multipart/form-data">
  <div id="image-gallery"></div>
  <span class="btn btn-success fileinput-button"><span>+ Upload Files</span>
  <input id="image" type="file" name="image" multiple="multiple"/></span><br/>
    <div class="progress progress-striped active">
    <div class="progress-bar progress-bar-success"></div>
  </div>
  <input id="product_id" type="hidden" name="product_id"/></span><br/>
</form>

 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">         
      <div class="modal-body">                
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
