<!-- views/admin/partials/nav.html -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span> ElChango Admin
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/admin">Dashboard</a></li>
            <li><a href="/admin/products">Products</a></li>
            <li><a href="/admin/orders">Orders</a></li>
            <li><a href="/admin/users">Users</a></li>
            <li><a href="/admin/logout">Logout</a></li>
        </ul>
      
    </div>
</nav>