<form id="products-form" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name="name">
  </div>
  <div class="form-group">
    <label>Category</label>
    <input type="text" class="form-control" name="category">
  </div>
  <div class="form-group">
    <label>Unit</label>
    <input type="text" class="form-control" name="unit">
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" name="description">
  </div>
  <div class="form-group">
    <label>Quantity</label>
    <input type="text" class="form-control" name="quantity">
  </div>
  <div class="form-group">
    <label>Enabled</label>
      <input type="radio" name="isEnabled" value="true" checked> Yes
      <input type="radio" name="isEnabled" value="false"> No
    </label>
  </div>
  <!--
  <div class="form-group">
    <label>Long description</label>
    <input type="text" class="form-control" name="longDescription">
  </div>
  <div class="form-group">
    <label>Add images</label>          
  </div>
  <div class="form-group">
    <label>Add prices</label>          
  </div>
  <div class="form-group">
    <label>Default weight</label>
    <input type="text" class="form-control" name="defWeight">
  </div>
  <div class="form-group">
    <label>Delta</label>
    <input type="text" class="form-control" name="delta">
  </div>
  -->

  <button type="submit" id="submit-products-btn" class="btn btn-warning btn-lg">Create</button>
  <button type="button" id="cancel-products-btn" class="btn btn-warning btn-lg">Cancel</button>
</form>